<!DOCTYPE html>
<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="common_controlSidebar">
    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
        <!-- Create the tabs -->
        <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
            <li class="active"><a href="#control-sidebar-home-tab" data-toggle="tab"><i class="fa fa-home"></i></a></li>
            <li><a href="#control-sidebar-settings-tab" data-toggle="tab"><i class="fa fa-gears"></i></a></li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
            <!-- Home tab content -->
            <div class="tab-pane active" id="control-sidebar-home-tab">
                <h3 class="control-sidebar-heading">Recent Activity</h3>
                <ul class="control-sidebar-menu">
                    <li>
                        <a href="javascript:;">
                            <i class="menu-icon fa fa-birthday-cake bg-red"></i>

                            <div class="menu-info">
                                <h4 class="control-sidebar-subheading">Langdon's Birthday</h4>

                                <p>Will be 23 on April 24th</p>
                            </div>
                        </a>
                    </li>
                </ul>
                <!-- /.control-sidebar-menu -->

                <h3 class="control-sidebar-heading">Tasks Progress</h3>
                <ul class="control-sidebar-menu">
                    <li>
                        <a href="javascript:;">
                            <h4 class="control-sidebar-subheading">
                                Custom Template Design
                                <span class="pull-right-container">
                    <span class="label label-danger pull-right">70%</span>
                  </span>
                            </h4>

                            <div class="progress progress-xxs">
                                <div class="progress-bar progress-bar-danger" style="width: 70%"></div>
                            </div>
                        </a>
                    </li>
                </ul>
                <!-- /.control-sidebar-menu -->

            </div>
            <!-- /.tab-pane -->
            <!-- Stats tab content -->
            <div class="tab-pane" id="control-sidebar-stats-tab">Stats Tab Content</div>
            <!-- /.tab-pane -->
            <!-- Settings tab content -->
            <div class="tab-pane" id="control-sidebar-settings-tab">
                <div class="form-group">
                    <label class="control-sidebar-subheading">
                        <input type="checkbox" data-sidebarskin="toggle" class="pull-right"/>
                        右侧边栏外观
                    </label>
                    <p>设置右侧边栏为浅色背景或深色背景</p>
                    <h4 class="control-sidebar-heading">皮肤</h4>
                    <ul class="list-unstyled clearfix">
                        <li style="float:left; width: 33.33333%; padding: 5px;"><a href="javascript:void(0)"
                                                                                   data-skin="skin-blue"
                                                                                   style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)"
                                                                                   class="clearfix full-opacity-hover">
                            <div><span
                                    style="display:block; width: 20%; float: left; height: 7px; background: #367fa9"></span><span
                                    class="bg-light-blue"
                                    style="display:block; width: 80%; float: left; height: 7px;"></span></div>
                            <div><span
                                    style="display:block; width: 20%; float: left; height: 20px; background: #222d32"></span><span
                                    style="display:block; width: 80%; float: left; height: 20px; background: #f4f5f7"></span>
                            </div>
                        </a>
                            <p class="text-center no-margin">Blue</p></li>
                        <li style="float:left; width: 33.33333%; padding: 5px;"><a href="javascript:void(0)"
                                                                                   data-skin="skin-black"
                                                                                   style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)"
                                                                                   class="clearfix full-opacity-hover">
                            <div style="box-shadow: 0 0 2px rgba(0,0,0,0.1)" class="clearfix"><span
                                    style="display:block; width: 20%; float: left; height: 7px; background: #fefefe"></span><span
                                    style="display:block; width: 80%; float: left; height: 7px; background: #fefefe"></span>
                            </div>
                            <div><span
                                    style="display:block; width: 20%; float: left; height: 20px; background: #222"></span><span
                                    style="display:block; width: 80%; float: left; height: 20px; background: #f4f5f7"></span>
                            </div>
                        </a>
                            <p class="text-center no-margin">Black</p></li>
                        <li style="float:left; width: 33.33333%; padding: 5px;"><a href="javascript:void(0)"
                                                                                   data-skin="skin-purple"
                                                                                   style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)"
                                                                                   class="clearfix full-opacity-hover">
                            <div><span style="display:block; width: 20%; float: left; height: 7px;"
                                       class="bg-purple-active"></span><span class="bg-purple"
                                                                             style="display:block; width: 80%; float: left; height: 7px;"></span>
                            </div>
                            <div><span
                                    style="display:block; width: 20%; float: left; height: 20px; background: #222d32"></span><span
                                    style="display:block; width: 80%; float: left; height: 20px; background: #f4f5f7"></span>
                            </div>
                        </a>
                            <p class="text-center no-margin">Purple</p></li>
                        <li style="float:left; width: 33.33333%; padding: 5px;"><a href="javascript:void(0)"
                                                                                   data-skin="skin-green"
                                                                                   style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)"
                                                                                   class="clearfix full-opacity-hover">
                            <div><span style="display:block; width: 20%; float: left; height: 7px;"
                                       class="bg-green-active"></span><span class="bg-green"
                                                                            style="display:block; width: 80%; float: left; height: 7px;"></span>
                            </div>
                            <div><span
                                    style="display:block; width: 20%; float: left; height: 20px; background: #222d32"></span><span
                                    style="display:block; width: 80%; float: left; height: 20px; background: #f4f5f7"></span>
                            </div>
                        </a>
                            <p class="text-center no-margin">Green</p></li>
                        <li style="float:left; width: 33.33333%; padding: 5px;"><a href="javascript:void(0)"
                                                                                   data-skin="skin-red"
                                                                                   style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)"
                                                                                   class="clearfix full-opacity-hover">
                            <div><span style="display:block; width: 20%; float: left; height: 7px;"
                                       class="bg-red-active"></span><span class="bg-red"
                                                                          style="display:block; width: 80%; float: left; height: 7px;"></span>
                            </div>
                            <div><span
                                    style="display:block; width: 20%; float: left; height: 20px; background: #222d32"></span><span
                                    style="display:block; width: 80%; float: left; height: 20px; background: #f4f5f7"></span>
                            </div>
                        </a>
                            <p class="text-center no-margin">Red</p></li>
                        <li style="float:left; width: 33.33333%; padding: 5px;"><a href="javascript:void(0)"
                                                                                   data-skin="skin-yellow"
                                                                                   style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)"
                                                                                   class="clearfix full-opacity-hover">
                            <div><span style="display:block; width: 20%; float: left; height: 7px;"
                                       class="bg-yellow-active"></span><span class="bg-yellow"
                                                                             style="display:block; width: 80%; float: left; height: 7px;"></span>
                            </div>
                            <div><span
                                    style="display:block; width: 20%; float: left; height: 20px; background: #222d32"></span><span
                                    style="display:block; width: 80%; float: left; height: 20px; background: #f4f5f7"></span>
                            </div>
                        </a>
                            <p class="text-center no-margin">Yellow</p></li>
                        <li style="float:left; width: 33.33333%; padding: 5px;"><a href="javascript:void(0)"
                                                                                   data-skin="skin-blue-light"
                                                                                   style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)"
                                                                                   class="clearfix full-opacity-hover">
                            <div><span
                                    style="display:block; width: 20%; float: left; height: 7px; background: #367fa9"></span><span
                                    class="bg-light-blue"
                                    style="display:block; width: 80%; float: left; height: 7px;"></span></div>
                            <div><span
                                    style="display:block; width: 20%; float: left; height: 20px; background: #f9fafc"></span><span
                                    style="display:block; width: 80%; float: left; height: 20px; background: #f4f5f7"></span>
                            </div>
                        </a>
                            <p class="text-center no-margin" style="font-size: 12px">Blue Light</p></li>
                        <li style="float:left; width: 33.33333%; padding: 5px;"><a href="javascript:void(0)"
                                                                                   data-skin="skin-black-light"
                                                                                   style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)"
                                                                                   class="clearfix full-opacity-hover">
                            <div style="box-shadow: 0 0 2px rgba(0,0,0,0.1)" class="clearfix"><span
                                    style="display:block; width: 20%; float: left; height: 7px; background: #fefefe"></span><span
                                    style="display:block; width: 80%; float: left; height: 7px; background: #fefefe"></span>
                            </div>
                            <div><span
                                    style="display:block; width: 20%; float: left; height: 20px; background: #f9fafc"></span><span
                                    style="display:block; width: 80%; float: left; height: 20px; background: #f4f5f7"></span>
                            </div>
                        </a>
                            <p class="text-center no-margin" style="font-size: 12px">Black Light</p></li>
                        <li style="float:left; width: 33.33333%; padding: 5px;"><a href="javascript:void(0)"
                                                                                   data-skin="skin-purple-light"
                                                                                   style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)"
                                                                                   class="clearfix full-opacity-hover">
                            <div><span style="display:block; width: 20%; float: left; height: 7px;"
                                       class="bg-purple-active"></span><span class="bg-purple"
                                                                             style="display:block; width: 80%; float: left; height: 7px;"></span>
                            </div>
                            <div><span
                                    style="display:block; width: 20%; float: left; height: 20px; background: #f9fafc"></span><span
                                    style="display:block; width: 80%; float: left; height: 20px; background: #f4f5f7"></span>
                            </div>
                        </a>
                            <p class="text-center no-margin" style="font-size: 12px">Purple Light</p></li>
                        <li style="float:left; width: 33.33333%; padding: 5px;"><a href="javascript:void(0)"
                                                                                   data-skin="skin-green-light"
                                                                                   style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)"
                                                                                   class="clearfix full-opacity-hover">
                            <div><span style="display:block; width: 20%; float: left; height: 7px;"
                                       class="bg-green-active"></span><span class="bg-green"
                                                                            style="display:block; width: 80%; float: left; height: 7px;"></span>
                            </div>
                            <div><span
                                    style="display:block; width: 20%; float: left; height: 20px; background: #f9fafc"></span><span
                                    style="display:block; width: 80%; float: left; height: 20px; background: #f4f5f7"></span>
                            </div>
                        </a>
                            <p class="text-center no-margin" style="font-size: 12px">Green Light</p></li>
                        <li style="float:left; width: 33.33333%; padding: 5px;"><a href="javascript:void(0)"
                                                                                   data-skin="skin-red-light"
                                                                                   style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)"
                                                                                   class="clearfix full-opacity-hover">
                            <div><span style="display:block; width: 20%; float: left; height: 7px;"
                                       class="bg-red-active"></span><span class="bg-red"
                                                                          style="display:block; width: 80%; float: left; height: 7px;"></span>
                            </div>
                            <div><span
                                    style="display:block; width: 20%; float: left; height: 20px; background: #f9fafc"></span><span
                                    style="display:block; width: 80%; float: left; height: 20px; background: #f4f5f7"></span>
                            </div>
                        </a>
                            <p class="text-center no-margin" style="font-size: 12px">Red Light</p></li>
                        <li style="float:left; width: 33.33333%; padding: 5px;"><a href="javascript:void(0)"
                                                                                   data-skin="skin-yellow-light"
                                                                                   style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)"
                                                                                   class="clearfix full-opacity-hover">
                            <div><span style="display:block; width: 20%; float: left; height: 7px;"
                                       class="bg-yellow-active"></span><span class="bg-yellow"
                                                                             style="display:block; width: 80%; float: left; height: 7px;"></span>
                            </div>
                            <div><span
                                    style="display:block; width: 20%; float: left; height: 20px; background: #f9fafc"></span><span
                                    style="display:block; width: 80%; float: left; height: 20px; background: #f4f5f7"></span>
                            </div>
                        </a>
                            <p class="text-center no-margin" style="font-size: 12px">Yellow Light</p></li>
                    </ul>
                </div>
            </div>
            <!-- /.tab-pane -->
        </div>
    </aside>
    <!-- /.control-sidebar -->

    <!-- Add the sidebar's background. This div must be placed
    immediately after the control sidebar -->
    <div class="control-sidebar-bg"></div>
</div>
</body>
</html>