<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.chi365.fastjee.cloud.web.admin.dao.sys.SysMenuDao">

    <!--表名 -->
    <sql id="tableName">
        sys_menu a
    </sql>

    <!-- 字段 -->
    <sql id="Field">
        a.key_id,
        a.parent_id as "parent.keyId",
        a.parent_ids,
        a.name,
        a.sort,
        a.url,
        a.icon,
        a.is_show,
        a.permission,
        a.create_by as "createBy.keyId",
        a.create_date,
        a.update_by as "updateBy.keyId",
        a.update_date,
        a.remarks,
        a.data_status
    </sql>

    <!-- 字段值 -->
    <sql id="FieldValue">
        #{keyId},
        #{parent.keyId},
        #{parentIds},
        #{name},
        #{sort},
        #{url},
        #{icon},
        #{isShow},
        #{permission},
        #{createBy.keyId},
        #{createDate},
        #{updateBy.keyId},
        #{updateDate},
        #{remarks},
        #{dataStatus}
    </sql>

    <!-- 自检条件 -->
    <sql id="WhereTerm">
        <if test="parent != null">
            <if test="parent.keyId != null and parent.keyId != ''">
                AND a.parent_id = #{parent.keyId}
            </if>
        </if>
        <if test="parentIds != null and parentIds != ''">
            AND a.parent_ids = #{parentIds}
        </if>
        <if test="name != null and name != ''">
            AND a.name = #{name}
        </if>
        <if test="sort != null and sort != ''">
            AND a.sort = #{sort}
        </if>
        <if test="url != null and url != ''">
            AND a.url = #{url}
        </if>
        <if test="icon != null and icon != ''">
            AND a.icon = #{icon}
        </if>
        <if test="isShow != null and isShow != ''">
            AND a.is_show = #{isShow}
        </if>
        <if test="permission != null and permission != ''">
            AND a.permission = #{permission}
        </if>
        <if test="createBy != null">
            <if test="createBy.keyId != null and createBy.keyId != ''">
                AND a.create_by = #{createBy.keyId}
            </if>
        </if>
        <if test="createDate != null">
            AND a.create_date = #{createDate}
        </if>
        <if test="updateBy != null">
            <if test="updateBy.keyId != null and updateBy.keyId != ''">
                AND a.update_by = #{updateBy.keyId}
            </if>
        </if>
        <if test="updateDate != null">
            AND a.update_date = #{updateDate}
        </if>
        <if test="remarks != null and remarks != ''">
            AND a.remarks = #{remarks}
        </if>
        <if test="dataStatus != null and dataStatus != ''">
            AND a.data_status = #{dataStatus}
        </if>
    </sql>

    <!-- 自检set属性 -->
    <sql id="SetTerm">
        <if test="parent != null">
            <if test="parent.keyId != null and parent.keyId != ''">
                a.parent_id = #{parent.keyId},
            </if>
        </if>
        <if test="parentIds != null and parentIds != ''">
            a.parent_ids = #{parentIds},
        </if>
        <if test="name != null and name != ''">
            a.name = #{name},
        </if>
        <if test="sort != null and sort != ''">
            a.sort = #{sort},
        </if>
        <if test="url != null and url != ''">
            a.url = #{url},
        </if>
        <if test="icon != null and icon != ''">
            a.icon = #{icon},
        </if>
        <if test="isShow != null and isShow != ''">
            a.is_show = #{isShow},
        </if>
        <if test="permission != null and permission != ''">
            a.permission = #{permission},
        </if>
        <if test="createBy != null">
            <if test="createBy.keyId != null and createBy.keyId != ''">
                a.create_by = #{createBy.keyId},
            </if>
        </if>
        <if test="createDate != null">
            a.create_date = #{createDate},
        </if>
        <if test="updateBy != null">
            <if test="updateBy.keyId != null and updateBy.keyId != ''">
                a.update_by = #{updateBy.keyId},
            </if>
        </if>
        <if test="updateDate != null">
            a.update_date = #{updateDate},
        </if>
        <if test="remarks != null and remarks != ''">
            a.remarks = #{remarks},
        </if>
        <if test="dataStatus != null and dataStatus != ''">
            a.data_status = #{dataStatus}
        </if>
    </sql>

    <!-- 根据keyId查询 -->
    <select id="get" resultType="SysMenu" parameterType="String">
        SELECT
        <include refid="Field"/>
        FROM <include refid="tableName"></include>
        WHERE a.key_id = #{keyId}
    </select>



    <!-- 获得数据总条数(用于分页) -->
    <select id="getCount" resultType="int">
        SELECT
        count(a.key_id)
        FROM <include refid="tableName"></include>
        where a.data_status = '0'
    </select>

    <!-- 查询分页数据列表 -->
    <select id="pageList" resultType="SysMenu" parameterType="HashMap">
        SELECT
        <include refid="Field"/>
        FROM <include refid="tableName"></include>
        order by a.update_date desc
        limit ${start},${length}
    </select>





    <!-- 查询数据列表 -->
    <select id="findList" resultType="SysMenu" parameterType="SysMenu">
        SELECT
        <include refid="Field"/>
        FROM <include refid="tableName"></include>
        <where>
            <include refid="WhereTerm"></include>
        </where>
    </select>


    <!-- 查询所有数据列表 -->
    <select id="findAllList" resultType="SysMenu">
        SELECT
        <include refid="Field"/>
        FROM <include refid="tableName"></include>
    </select>


    <!-- 插入数据 -->
    <insert id="insert" parameterType="SysMenu">
        insert into
        sys_menu
        (
        key_id,
        parent_id,
        parent_ids,
        name,
        sort,
        url,
        icon,
        is_show,
        permission,
        create_by,
        create_date,
        update_by,
        update_date,
        remarks,
        data_status
        ) values (
        <include refid="FieldValue"></include>
        )
    </insert>

    <!-- 删除数据（该方法为物理删除，逻辑删除使用update更新data_status字段） -->
    <delete id="delete" parameterType="SysMenu">
        delete from
        <include refid="tableName"></include>
        where
        a.key_id = #{keyId}
    </delete>

    <!-- 更新数据 -->
    <update id="update" parameterType="SysMenu">
        update
        <include refid="tableName"></include>
        <set>
            <include refid="SetTerm"></include>
        </set>
        where
        a.key_id = #{keyId}
    </update>

    <!-- 批量删除，逻辑删除 -->
    <update id="deleteMulti">
        update
        <include refid="tableName"></include>
        set a.data_status = '1'
        where a.key_id in
        <foreach collection="array" open="(" close=")" separator="," item="id">
            #{id}
        </foreach>
    </update>

</mapper>